
/* 
Sitio Web Creado por ITred Spa.
Direccion: Guido Reni #4190
Pedro Aguirre Cerda - Santiago - Chile
contacto@itred.cl o itred.spa@gmail.com
https://www.itred.cl
Creado, Programado y Diseñado por ITred Spa.
BPPJ 
*/


/* --------------------------------------------------------------------------------------------------------------
    -------------------------------------- INICIO ITred Spa Cuadro Rojo .CSS --------------------------------------
    ------------------------------------------------------------------------------------------------------------- */

/* TÍTULO: ESTILO PARA LA CAJA FLEXIBLE */

    /* Define el ancho máximo, flexibilidad y padding de la caja */
    .box-6 {
        flex: 1; /* Permite que el contenedor se expanda para ocupar espacio disponible */
        max-width: 50%; /* Ancho máximo del 50% del contenedor padre */
        padding: 10px; /* Espaciado interno de 10px */
    }

/* TÍTULO: ESTILO PARA EL CUADRO DE DATOS */

    /* Define el borde, padding y fondo del cuadro de datos */
    .data-box {
        border: 1px solid #ddd; /* Borde gris claro */
        padding: 15px; /* Espaciado interno de 15px */
        background-color: #fff; /* Fondo blanco */
        border-radius: 12px; /* Bordes redondeados */
    }

/* TÍTULO: VARIACIÓN DE LA CAJA DE DATOS CON BORDE ROJO */

    /* Modifica el color del borde para cuadros de datos rojos */
    .data-box-red {
        border-color: red; /* Cambia el color del borde a rojo */
        border-radius: 12px; /* Mantiene los bordes redondeados */
    }

/* TÍTULO: ESTILO GENERAL PARA LOS CAMPOS DE ENTRADA */

    /* Define el ancho, padding, margen y borde de los campos de entrada */
    input {
        width: calc(100% - 20px); /* El ancho es el 100% del contenedor menos 20px de margen */
        padding: 10px; /* Espaciado interno de 10px */
        margin-bottom: 20px; /* Espaciado inferior de 20px entre elementos */
        border: 1px solid #ddd; /* Borde gris claro */
        border-radius: 5px; /* Bordes redondeados */
        box-sizing: border-box; /* Incluye el borde y el padding dentro del ancho total */
    }

/* --------------------------------------------------------------------------------------------------------------
    ---------------------------------------- FIN ITred Spa Cuadro Rojo .CSS ---------------------------------------
    ------------------------------------------------------------------------------------------------------------- */


/*
Sitio Web Creado por ITred Spa.
Direccion: Guido Reni #4190
Pedro Aguirre Cerda - Santiago - Chile
contacto@itred.cl o itred.spa@gmail.com
https://www.itred.cl
Creado, Programado y Diseñado por ITred Spa.
BPPJ
*/