
/* 
Sitio Web Creado por ITred Spa.
Direccion: Guido Reni #4190
Pedro Aguirre Cerda - Santiago - Chile
contacto@itred.cl o itred.spa@gmail.com
https://www.itred.cl
Creado, Programado y Diseñado por ITred Spa.
BPPJ 
*/


/* --------------------------------------------------------------------------------------------------------------
    -------------------------------------- INICIO ITred Spa Pago .CSS --------------------------------------
    ------------------------------------------------------------------------------------------------------------- */

/* TÍTULO: ESTILO DE LAS CELDAS DE ENCABEZADO */

    /* Color de fondo para las celdas de encabezado */
    th {
        background-color: #4CAF50; /* Color de fondo para las celdas de encabezado */
        padding: 10px; /* Relleno interno de las celdas de encabezado */
        text-align: center; /* Centrar el texto en las celdas de encabezado */
    }

/* TÍTULO: ESTILO DEL ÁREA DE TEXTO */

    /* Permitir redimensionar el área de texto solo en la dirección vertical */
    textarea {
        resize: vertical; /* Permitir redimensionar el área de texto solo en la dirección vertical */
    }

/* TÍTULO: ESTILO DE LAS CELDAS DE LA TABLA */

    /* Relleno interno de las celdas de la tabla */
    td {
        padding: 5px; /* Relleno interno de las celdas de la tabla */
        border-bottom: 1px solid #ddd; /* Borde inferior de las celdas de la tabla */
    }

/* TÍTULO: ESTILO DEL LEGEND EN FIELDSET */

    /* Tamaño de fuente del legend en fieldset */
    fieldset legend {
        font-size: 1.2em; /* Tamaño de fuente del legend en fieldset */
        padding: 0 10px; /* Relleno interno del legend */
        color: #333; /* Color del texto del legend */
        font-weight: bold; /* Negrita para el texto del legend */
    }

/* --------------------------------------------------------------------------------------------------------------
    ---------------------------------------- FIN ITred Spa Pago .CSS ---------------------------------------
    ------------------------------------------------------------------------------------------------------------- */


/*
Sitio Web Creado por ITred Spa.
Direccion: Guido Reni #4190
Pedro Aguirre Cerda - Santiago - Chile
contacto@itred.cl o itred.spa@gmail.com
https://www.itred.cl
Creado, Programado y Diseñado por ITred Spa.
BPPJ
*/